<div class="page-sidebar">
    <!-- <div>
        <img src="/public/images/formula.png" />
    </div> -->

    <ul class="github-projects">
        {% for project in site.data.projects %}
            <li><a href="https://github.com/skyaspnet/{{ project.github }}" target="_blank">{{ project.name }} - {{ project.desc }}</a></li>
        {% endfor %}
    </ul>

    <div class="last-comments">
       <dl>
            <dt>友情链接</dt>
            <dd>
                <ul>
                    <li><a href="http://mux.baidu.com/" target="_blank">百度 MUX</a>
                    </li>
                    <li><a href="http://mweb.baidu.com/" target="_blank">百度 MWEB</a>
                    </li>
                    <li><a href="http://ued.taobao.org/blog/" target="_blank">淘宝 UED</a>
                    </li>
                    <li><a href="http://www.75team.com/" target="_blank">奇舞团</a>
                    </li>
                    <li><a href="http://www.w3ctech.com" target="_blank">w3ctech</a>
                    </li>
                    <li><a href="http://www.alloyteam.com/" target="_blank">腾讯 AlloyTeam</a>
                    </li>
                    <li><a href="http://isux.tencent.com/" target="_blank">腾讯 ISUX</a>
                    </li>
                    <li><a href="http://ued.ctrip.com/blog/?cat=11" target="_blank">携程 UED</a>
                    </li>
                    <ul>
            </dd>
        </dl>
    </div>
</div>
